@font-face {
    font-family: 'postnobillscolomboExtrabold';
    src: url('../../fonts/postnobillscolombo-extrabold.ttf');
}

body {
    background-color: #333;
    font-family: 'postnobillscolomboExtrabold';
    color: #fff;
    margin: 0;
    text-align: center;
    .pw_text {
        margin: 100px auto 0px;
        font-size: 120px;
        color: #fff;
        letter-spacing: .6em;
    }
}

table {
    margin: 50px auto;
    tr {
        td {
            background-color: white;
            color: #333;
            font-size: 100px;
            text-align: center;
            padding: 20px;
            min-width: 150px;
        }
    }
}

table,
td,
th {
    border: 5px #333 solid;
}

.not_shown {
    background-color: #333;
    letter-spacing: .2;
    color: white;
}

.correct_div,
.wrong_div {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}